.formularioLaplace {
    margin-left: 15px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.formularioComplejos {
    margin-left: 15px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.color1 {
    color:#457b9d;
}

.color2 {
    color: #dddddd;
}

.bg-color1 {
    background-color: #457b9d;
}

.bg-color3 {
    background-color: #E68A50;
}

.hidden{
    display: none
}

.idc-box {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.idc-titulo {
    font-weight: 700;
    text-align: center;
}
.idc-box li, .idc-box ul, .idc-box ul li {
    padding: 0 5px;
    list-style: outside none none !important;
}

.teoriaLaplace {
    margin: 10px;
    overflow:scroll;
}

#mostrarResultadoFasores {
    display: none;
}

#mostrarResultadoEcDiferencialOrden1 {
    display: none;
}

#mostrarResultadoEcDiferencialOrden2 {
    display: none;
}

#mostrarResultadoEcDiferencialOrden3 {
    display: none;
}

#mostrarValoresInicialesEcDiferencialOrden3 {
    display: none;
}

#mostrarValoresInicialesEcDiferencialOrden2 {
    display: none;
}

#mostrarValoresInicialesEcDiferencialOrden1 {
    display: none;
}

#mostrarFuncionYTerminoIndependiente {
    display: none;
}

#mostrarResultado {
    display: none;
}

#mostrarIntegral {
    display: none;
}

