
.formulario1 {
    padding: 20px 30px;
    margin: 30px;
    box-sizing: content-box;
}

.color1 {
    color:#457b9d;
}

.color2 {
    color: #dddddd;
}




.bg-color1 {
    background-color: #457b9d;
}


.bg-color3 {
    background-color: #E68A50;
}


.hidden{
    display: none
}
