<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  <title>Función Transferencia</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="../static/imagenes/logo.png" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-color3" >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" id="home" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Números Complejos
          </a>
          <ul class="dropdown-menu" id="seleccionComplejos">
            <li><a class="dropdown-item" href="/complejos">Mostrar complejo con su gráfica</a></li>
            <li><a class="dropdown-item" href="/complejos_operaciones">Operaciones con 2 complejos</a></li>
            <li><a class="dropdown-item" href="/complejos_exponente">Elevar complejo a exp natural</a></li>
            <li><a class="dropdown-item" href="/complejos_raiz">Calcular raiz cuadrada de un numero complejo</a></li>
            <li><a class="dropdown-item" href="/complejos_logaritmo">Calcular logaritmo natural de un numero complejo</a></li>
            <li><a class="dropdown-item" href="/cuadratica_complejos">Resolver ecuación cuadrática</a></li>
            <li><a class="dropdown-item" href="/fasores">Sumar 2 funciones sinusoidales por fasores</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transformada de Laplace
        </a>
        <ul class="dropdown-menu" id="seleccionLaplace">
            <li><a class="dropdown-item" href="/teoriaLaplace">Introducción Teórica</a></li>
            <li><a class="dropdown-item" href="/transf_laplace">Transformada de Laplace</a></li>
            <li><a class="dropdown-item" href="/antitransf_laplace">Antitransformada de Laplace</a></li>
            <li><a class="dropdown-item" href="/ec_diferencial_laplace">Ecuación Diferencial por Laplace</a></li>
            <li><a class="dropdown-item" href="/eval_integrales_laplace">Evaluación de Integrales</a></li>
        </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Función Transferencia
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/funcTransferencia">Mostrar polos y ceros</a></li>
          </ul>
      </li>
      </ul>
    </div>

</nav>
<!-- Section-->
<div class="formularioComplejos">
  <h4> Ceros y Polos de la función de transferencia</h4>
  <form class="row g-3" action="/funcTransferencia" method="POST">
    <div class="col-md-3">
      <label for="ceros" class="form-label">Escribir los coeficientes del numerador separados por comas</label>
      <input type="text" class="form-control" name="ceros" id="ceros">
    </div>
    <div class="col-md-3">
      <label for="polos" class="form-label">Escribir los coeficientes del denominador separados por comas</label>
      <input type="text" class="form-control" name="polos" id="polos">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" >Mostrar polos y ceros</button>
    </div>
  </form>
</div>
<p>

  {% if diagrama %}
    <img src="data:image/png;base64,{{ diagrama }}" alt="Diagrama de Polos y Ceros">
    {% endif %}
</p>
<!-- Footer-->
<footer class="py-5 bg-color1 fixed-bottom">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Ignacio García 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

<script src="../static/js/scripts.js"></script>

</body>
</html>
