<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Home</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="../static/imagenes/logo.png" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-color3" >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" id="home" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Números Complejos
          </a>
          <ul class="dropdown-menu" id="seleccion">
            <li><a class="dropdown-item" href="/complejos">Mostrar complejo con su gráfica</a></li>
            <li><a class="dropdown-item" href="/complejos_operaciones">Operaciones con 2 complejos</a></li>
            <li><a class="dropdown-item" href="/complejos_exponente">Elevar complejo a exp natural</a></li>
            <li><a class="dropdown-item" href="/complejos_raiz">Calcular raiz cuadrada de un numero complejo</a></li>
            <li><a class="dropdown-item" href="/complejos_logaritmo">Calcular logaritmo natural de un numero complejo</a></li>
            <li><a class="dropdown-item" href="/cuadratica_complejos">Resolver ecuación cuadrática</a></li>
            <li><a class="dropdown-item" href="/fasores">Sumar 2 funciones sinusoidales por fasores</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
<header class="bg-color1 py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Bienvenido/a a la página de Matemática Superior</h1>
      <p class="lead fw-normal text-white-50 mb-0">En nuestro sitio oficial</p>
      <img src="../static/imagenes/logo.png" class="rounded mx-auto d-block">
    </div>
  </div>
</header>
<!-- Section-->
<section>
  <p>
    Aca va a ir una intro
  </p>
</section>
<!-- Footer-->
<footer class="py-5 bg-color1">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Ignacio García 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
</body>
</html>