<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <title>Fasores</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="../static/imagenes/logo.png" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-color3" >
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" id="home" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Números Complejos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/complejos">Mostrar complejo con su gráfica</a></li>
            <li><a class="dropdown-item" href="/complejos_operaciones">Operaciones con 2 complejos</a></li>
            <li><a class="dropdown-item" href="/complejos_exponente">Elevar complejo a exp natural</a></li>
            <li><a class="dropdown-item" href="/complejos_raiz">Calcular raiz cuadrada de un numero complejo</a></li>
            <li><a class="dropdown-item" href="/complejos_logaritmo">Calcular logaritmo natural de un numero complejo</a></li>
            <li><a class="dropdown-item" href="/cuadratica_complejos">Resolver ecuación cuadrática</a></li>
            <li><a class="dropdown-item" href="/fasores">Sumar 2 funciones sinusoidales por fasores</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!-- Section-->
<div class="formularioComplejos">
    <br>
    <h4> Suma de funciones por fasores</h4>
    <h6>Primera función</h6>
  <form class="row g-3" action="/fasores" method="POST">
    <div class="col-md-7">
      <label for="amplitud1" class="form-label">Amplitud</label>
      <input type="number" step="any" class="form-control" name="amplitud1" id="amplitud1">
    </div>
    <div class="col-md-7">
      <label for="fase1" class="form-label">Fase</label>
      <input type="number" step="any" class="form-control" name="fase1" id="fase1">
    </div>
    <div class="col-md-7">
      <select name="tipoFuncion1" id="tipoFuncion1" class="form-select" aria-label="Default select example">
        <option selected>Selecciona el tipo de función trigonométrica</option>
        <option value="cos">Coseno</option>
        <option value="sen">Seno</option>
      </select>
    </div>
    <h6>Segunda función</h6>
    <div class="col-md-7">
      <label for="amplitud2" class="form-label">Amplitud</label>
      <input type="number" step="any" class="form-control" name="amplitud2" id="amplitud2">
    </div>
    <div class="col-md-7">
      <label for="fase1" class="form-label">Fase</label>
      <input type="number" step="any" class="form-control" name="fase2" id="fase2">
    </div>
    <div class="col-md-7">
      <select name="tipoFuncion2" id="tipoFuncion2" class="form-select" aria-label="Default select example">
        <option selected>Selecciona el tipo de función trigonométrica</option>
        <option value="cos">Coseno</option>
        <option value="sen">Seno</option>
      </select>
    </div>

    <br>
    <div class="col-md-7">
      <label for="frecuencia" class="form-label">Frecuencia de las señales</label>
      <input type="number" class="form-control" name="frecuencia" id="frecuencia">
    </div>


    <div class="col-md-7">
      <select name="tipoFuncionSuma" id="tipoFuncionSuma" class="form-select" aria-label="Default select example">
        <option selected>Selecciona en qué forma querés que se muestre el resultado</option>
        <option value="cos">Coseno</option>
        <option value="sen">Seno</option>
      </select>
    </div>

     <div class="col-12">
      <button type="submit" class="btn btn-primary" >Realizar suma por fasores</button>
    </div>
  </form>
</div>
<p>
  {%if resultado%}
  El resultado es: {{resultado}}
  {%endif%}
</p>
<!-- Footer-->
<footer class="py-5 bg-color1 fixed-bottom">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Ignacio García 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

<script src="../static/js/scripts.js"></script>

</body>
</html>
